* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: rgb(0, 0, 0);
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  list-style: none;
  font-size: 80px;
  color: rgb(39, 39, 39);
  font-family: sans-serif;
  letter-spacing: 15px;
  transition: all 0.5s;
  animation: lighting 2s linear infinite;
}
@keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 100px #ff6c00;
  }
}
ul li:nth-child(1) {
  animation-delay: 0.1s;
}
ul li:nth-child(2) {
  animation-delay: 0.3s;
}
ul li:nth-child(3) {
  animation-delay: 0.5s;
}
ul li:nth-child(4) {
  animation-delay: 0.7s;
}
ul li:nth-child(5) {
  animation-delay: 0.9s;
}
ul li:nth-child(6) {
  animation-delay: 1.1s;
}
ul li:nth-child(7) {
  animation-delay: 1.3s;
}
ul li:nth-child(8) {
  animation-delay: 1.5s;
}
ul li:nth-child(9) {
  animation-delay: 1.5s;
}
ul li:nth-child(10) {
  animation-delay: 1.5s;
}
ul li:nth-child(11) {
  animation-delay: 1.5s;
}

#btn {
  text-decoration: none;
  margin-top: 5rem;
  font-size: 3rem;
  padding: 1.5rem 3.5rem;
  background: black;
  color: #fff900;
  border-radius: 2rem;
  outline: 0;
  border: none;
  box-shadow: 0 0 7px #fff900, 0 0 100px #ff6c00;
}
#leaderBoard {
  margin-top: 2rem;
}
#leaderBoard h2 {
  text-align: center;
  font-size: 3rem;
  color: #fff900;
  margin-bottom: 4rem;
  text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
}
table {
  font-size: 1.8rem;
  color: #fffb00c5;
}
td,
th {
  text-align: center;
  box-shadow: 0 0 7px #fff900, 0 0 30px #ff6c00;
  padding: 1rem;
}

@media (max-width: 700px) {
  ul li {
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
  }
  #btn {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
  table {
    font-size: 1rem;
    color: #fffb00c5;
  }
  td,
  th {
    box-shadow: 0 0 7px #fff900, 0 0 30px #ff6c00;
    padding: 1rem;
  }
  #leaderBoard {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
}
#leaderBoard {
  color: #ffffff;
}
