* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background: #000;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.829);
  max-width: 144rem;
  margin: 0 auto;
}

.confirm-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.342);
  display: none;
  z-index: 1;
}
.confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20%;
  width: 40%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eec719bd;
  background: rgba(0, 0, 0, 0.795);
  z-index: 2;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
#game {
  max-width: 70%;
  margin-top: 5rem;
  perspective: 100rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#game div {
  width: 14rem;
  height: 14rem;
  margin: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 7px #fff900, 0 0 100px #ff6c00;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
#game div:hover {
  transform: translateY(-0.3rem);
}
#game div:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
button {
  padding: 0.8rem 1.4rem;
  font-size: 2rem;
  border: 0;
  outline: none;
  background: #fc466aab;
  color: #fff900;
  border-radius: 1.5rem;
  outline: 0;
  border: none;
  box-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  border-radius: 0.8rem;
  margin: 0 2rem;
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: translateY(-0.2rem);
}
#reset {
  display: none;
}
#home {
}
.game-btn {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-bottom: 1rem;
}
button:active {
  transform: translateY(0.2rem);
}
.score-box {
  display: flex;
  margin-top: 2rem;
}

h1 {
  display: block;
  margin: 2rem 0;
  font-size: 3rem;
}
h3 {
  color: #d13333bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-left: 4rem;
}
span {
  color: #fffb00bd;
  margin-left: 1rem;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  backface-visibility: hidden;
}

.front {
  border: 0.2rem solid rgba(80, 78, 78, 0.582);
  padding: 0.1rem;
  transform: rotateY(180deg);
}

#game div.flip {
  transform: rotateY(180deg);
}

.playagain-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.342);
  display: none;
  z-index: 1;
}

.playagain-box {
  color: #eec719bd;
  background: rgba(0, 0, 0, 0.795);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 30%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 2;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  list-style: none;
  font-size: 6rem;
  color: rgb(39, 39, 39);
  font-family: sans-serif;
  letter-spacing: 15px;
  transition: all 0.5s;
  animation: lighting 2s linear infinite;
}
@keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 100px #ff6c00;
  }
}
ul li:nth-child(1) {
  animation-delay: 0.1s;
}
ul li:nth-child(2) {
  animation-delay: 0.3s;
}
ul li:nth-child(3) {
  animation-delay: 0.5s;
}
ul li:nth-child(4) {
  animation-delay: 0.7s;
}
ul li:nth-child(5) {
  animation-delay: 0.9s;
}
ul li:nth-child(6) {
  animation-delay: 1.1s;
}
ul li:nth-child(7) {
  animation-delay: 1.3s;
}
ul li:nth-child(8) {
  animation-delay: 1.5s;
}
ul li:nth-child(9) {
  animation-delay: 1.5s;
}
ul li:nth-child(10) {
  animation-delay: 1.5s;
}
ul li:nth-child(11) {
  animation-delay: 1.5s;
}
#form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
#form input {
  text-align: center;
  background: transparent;
  padding: 1rem;
  border: 0.2rem solid rgb(63, 62, 62);
  box-shadow: 0 0 7px #fff900, 0 0 7px #ff6c00;
  border-radius: 1rem;
  font-weight: bold;
  outline: 0;
  color: #ff6c00;
}

#form #submit {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

@media (max-width: 800px) {
  .container,
  ul {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
  }
  #game {
    max-width: 95%;
  }
  #game div {
    width: 8rem;
    height: 8rem;
  }
  .game-btn {
    margin-top: 2rem;
  }
  ul li {
    list-style: none;
    font-size: 3rem;
    color: rgb(39, 39, 39);
    font-family: sans-serif;
    letter-spacing: 1rem;
  }
  h3 {
    margin-left: 1rem;
  }
  .playagain-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    z-index: 1;
  }

  .playagain-box {
    width: 90%;
    top: 50%;
  }
  .confirm-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    z-index: 1;
  }
  .confirm {
    height: 40%;
    width: 90%;
    top: 50%;
  }
}
